# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

<iframe src="https://frontend.vh.yandex.ru/player/ v7_ZjZ-9aSXI?from=partner&mute=1&play_on_visible='true'&autoplay=0&branding=0" class="yandex-efir-embed__iframe" frameBorder="0" allowfullscreen=""></iframe>

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
